.container {
    display:grid;
    grid-template-columns: repeat(5,1fr);
    place-items: center;
    height: 100px;
    background-color: #FFFAFA;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
